nav.pure-menu.pure-menu-open.pure-menu-horizontal
  a.pure-menu-heading(href='#') Wolves.Technology
  ul
    li
      a(href='/') Den
    li
      a(href='/howls') Howls
    li
      a(href='/marks') Marks
    li
      a(href='/wolves') Wolves
